* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(243, 237, 237);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(243, 237, 237);
}
header > nav > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
header > nav > ul > li {
  margin-top: 1rem;
}
header > nav > ul > li:nth-child(1) {
  margin-left: 1rem;
}
header > nav {
  top: 0px;
  background-color: rgb(226, 160, 160);
  font-size: 1.75rem;
  height: 5rem;
}
.banner {
  background-image: url(images/clothes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 20rem;
  padding: 5rem;
  text-align: center;
  color: white;
  font-size: 5em;
}

main {
  margin-top: 3rem;
}
main > h2 {
  text-align: center;
  font-size: 3rem;
}
.stock {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
  text-align: center;
}
.stock > div {
  border: 1px solid #eee;
  border-radius: 4px;
  cursor: pointer;
}

button {
  color: rgb(226, 217, 217);
  font-size: 1em;
  width: 25%;
  padding: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(20, 19, 19);
  border: none;
  border-radius: 5%;
  cursor: pointer;
  overflow: hidden;
}
button:hover {
  background-color: rgb(65, 62, 62);
}

.stock > div > img {
  width: 50%;
}
.guarantee {
  margin-top: 5rem;
}
.delivery-details {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(3rem, 8rem));
}
.delivery-details > div > h3 {
  display: block;
  margin-bottom: 2rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}
.delivery-details > div > img {
  height: 8.5rem;
  width: 8.5rem;
  opacity: 0.84;
}

#best-img {
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}
#best-img > div > img {
  width: 15%;
}

footer {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: rgba(226, 160, 160, 0.8);
  bottom: 0px;
  display: flex;
  justify-content: right;
}

footer > nav > ul > li {
  list-style: none;
  margin: 2px 25rem 10px 2px;
}

@media screen and (max-width: 850px) {
  .banner {
    height: 20rem;
    padding: 5rem;
    font-size: 3.5em;
  }
  .stock {
    grid-template-columns: repeat(2, 1fr);
  }
  #best-img > div > img {
    width: 20%;
  }
  footer > nav > ul > li {
    margin: 12px 12px;
  }
}

@media screen and (max-width: 600px) {
  .stock {
    grid-template-columns: 1fr;
  }
  .delivery-details {
    grid-template-columns: repeat(2, minmax(1rem, 8.5rem));
  }
  #best-img > div > img {
    width: 25%;
  }
}

@media screen and (max-width: 550px) {
  header > nav > ul > li:nth-child(1) {
    display: none;
  }
  header > nav > ul {
    grid-template-columns: repeat(2, 1fr);
  }
  #best-img > div > img {
    width: 50%;
  }
  .delivery-details {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media screen and (max-width: 335px) {
  .banner {
    height: 20rem;
    padding: 5rem;
    font-size: 2em;
  }
  header > nav > ul > li:nth-child(3) {
    display: none;
  }
  header > nav > ul > li {
    font-size: 0.76em;
  }
  #best-img > h2 {
    font-size: 2rem;
  }
  #best-img > div > img {
    width: 50%;
  }
  button {
    padding: 0.12em;
  }

  .order {
    padding: 0;
    margin: 0;
  }
  .order > form {
    width: 100%;
    margin-left: 2%;
  }
}

.order {
  display: none;
  border: 1px solid #eee;
  padding: 1rem;
  margin: 0 auto;
}
.order > form {
  display: grid;
  place-items: center;
}
.order > form > label {
  margin-top: 1rem;
}
.order > form > input {
  height: 3rem;
  font-size: 1em;
  margin-bottom: 1rem;
}
#customer-items {
  width: 3rem;
}
#submit {
  width: 50%;
  background: rgb(30, 30, 204);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
}
.order > h3 {
  text-align: center;
}
#image-selected {
  text-align: center;
}
